
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family:Sans-serif;
  line-height: 1.5em;
}

/*frame de topo header-------------*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  font-family:Sans-serif;
  overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
  background: #228B22; /*color: ForestGreen*/
}

/*frame de navegação-------------*/
#nav {
  position: absolute;
  top: 90px;
  left: 0;
  bottom: 0;
  width: 230px;
  overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
  background: #CAFF70; /*color: DarkOliveGreen1*/
}

#topo {
  padding:10px;
  color: #FFFFFF;
}

.button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 { text-align: center; }

main {
  position: fixed;
  top: 120px; /* Set this to the height of the header */
  left: 230px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #FFFFFF;
}

.innertube {
  margin: 10px; /* Provides padding for the content */
}

p {
  font-size: 25px;
  line-height: 1.5em;
  text-align: center;
  color: #000000;
}

/**** For put images in an Responsive Layout ****/
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: #000000;
  text-decoration: none;
}

/*IE6 fix*/
* html body{
  padding: 100px 0 0 230px; /* Set the first value to the height of the header and last value to the width of the nav */
}

* html main{
  height: 100%;
  width: 100%;
}
